# Entornos virtuales
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Carpetas de compilación
build/
dist/

# Archivos temporales de sistema
*.swp
